<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/estilo.css"/>
        <script type="text/javascript" src="cambiarPestanna.js"></script>
        <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
        <title>Curriculum</title>
    </head>
    <body>
        <h1 class="titulo"> Curriculum Vitae</h1>
        <div class="contenedor">
            
            <div id="pestanas">
                <ul id=lista >
                    <li id="pestana1"><a href='javascript:cambiarPestanna(pestanas,pestana1);'>Sobre mi</a></li>
                    <li id="pestana2"><a href='javascript:cambiarPestanna(pestanas,pestana2);'>Sobre mi pasion</a></li>
                    <li id="pestana3"><a href='javascript:cambiarPestanna(pestanas,pestana3);'>Galeria de Fotos</a></li>
                    <li id="pestana4"><a href='javascript:cambiarPestanna(pestanas,pestana4);'>Hoja de vida</a></li>
                    <li id="pestana5"><a href='javascript:cambiarPestanna(pestanas,pestana5);'>Contactame</a></li>
                </ul>
            </div>
            
            <body onload="javascript:cambiarPestanna(pestanas,pestana1);">
       
            <div id="contenidopestanas">
                <div id="cpestana1">

                </div>
                <div id="cpestana2">
                   
                </div>
                <div id="cpestana3">
                    
                </div>
                <div id="cpestana4">
                    <p > <IMG style="float:left;"  SRC="D:\Cato\Sistemas Web\12376426_10208222349220059_3756396559770273527_n.jpg" width="120",heigth="150">  </p>
                        <br/>
                        <br/>
                        <section>  
                            <STRONG >Nombre: </STRONG> Gabriel Alejandro Lucuy<br/>
                        <STRONG>Fecha de Nacimiento: </STRONG> 03 de Abril del 1996<br/>
                        <STRONG>Ci: </STRONG> 9332585<br/>
                        <STRONG>Direccion: </STRONG> Av.America #418<br/>
                        <STRONG>Telefono: </STRONG> 4432139-70795067<br/>
                        <STRONG>Correo: </STRONG> gabolucuy@hotmail.com<br/>
                        <br/>
                        <br/>
                        <br/>
                    </section>  
                      <h2 >Formacion Academica:</h2>
                      <p> Primaria: Colegio Maryknoll (2002-2006)</p>
                      <p>Secundaria: Colegio San Agustin (2007-2013)</p>
                      <p>Actualmente: Cursando 5to semestre de Ingeneria de sistemas en la Universadad Catolica Boliviana (UCB) </p>
                      <h2>Idiomas:</h2>
                      <p> Español 100% (hablado y escrito)</p>
                      <p> Ingles 100% (hablado y escrito)</p>
                      <h2>Experiencias Laborales:</h2>
                      <p> Participacion como expositor en Feria Intercional de Cochabamba junto a la empresa Pisabol.Srl, 2009-2012</p>
                      <p> Participacion en spot publicitario para Taquiña, 2015 </p>
                      <h2>Cursos: </h2>
                      <p> Curso de Primeros Auxilios, 2011</p>
                      <p> Curso de Mecanica de Infocal, 2012</p>
                      <p> Curso de Electricidad de Infocal, 2013</p>
                      <p> Reparacion y emsamblaje de computadoras, 2014</p>
                      <p> Manejo de punteros en C++, 2014</p>
                      <p> Desarrollo de aplicaciones de bases de datos con c#.net, 2015</p>
                      <p> Participacion en evento Techzone de Jalasoft, 2015 </p>
                      <h2>Seminarios y talleres: </h2>
                      <p> Seminario de Rotary para jovenes lideres, 2013 </p>
                      <p> Taller de liderzgo organizado por Rotary club Bolivia, 2013
                      <h2>Actividades extras: </h2>
                      <p> Miembro de Rotaract club Bolivia, 2011-2013 </p>
                      <p> Tesorero electo de Rotaract club Bolivia, 2012-2013 </p> 
                </div>
                <div id="cpestana5">
                   
                </div>
                <div id="cpestana6">
                   
                </div>
            </div>
        </div>
    </body>
</html>
